
# Fixed-route J313/front-port DP-IN experiment. Requires its matching m1n1 bundle.
menuentry 'Omarchy - Thunderbolt DP-IN experiment (manual)' --id 'omarchy-thunderbolt-dpin' {
    load_video
    set gfxpayload=keep
    insmod gzio
    insmod part_gpt
    insmod btrfs
    search --no-floppy --fs-uuid --set=root 725346d2-f127-47bc-b464-9dd46155e8d6
    linux /@/boot/vmlinuz-thunderbolt-test root=UUID=725346d2-f127-47bc-b464-9dd46155e8d6 rw rootflags=subvol=@ loglevel=7 thunderbolt.dprx_timeout=-1
    initrd /@/boot/initramfs-thunderbolt-dpin.img
}
